@import 'tailwindcss';

@theme {
  --color-primary: #0a47c2;
  --color-success: #16a34a;
  --color-warning: #ea580c;
  --color-danger: #dc2626;

  --color-background-light: #f5f6f8;
  --color-background-dark: #101622;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white;
  font-family: 'Inter', sans-serif;
}
